.im-fell-french-canon-sc-regular {
  font-family: "IM Fell French Canon SC", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "IM Fell French Canon SC";
  background-color: rgb(0, 255, 51);
}

.filmik {
  position: fixed;
  color: #0800a5;
  font-size: 150px;
  white-space: nowrap;
  animation: y-axis 5s infinite alternate linear;
}

@keyframes y-axis {
  0% {
    top: 0;
  }
  100% {
    top: calc(80vh);
  }
}

.rengor {
  background: linear-gradient(90deg, #ff007f, #7f00ff, #00d4ff, #ff007f);

  background-size: 300% 100%;

  background-clip: text;
  color: transparent;

  animation: gradientFlow 5s linear infinite;

  font-size: 4rem;
  font-weight: bold;
  padding-left: 6em;
  font-size: 6em;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
